{% load static %}
<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" href="{% static 'css.css' %}"/>
    <link href='https://fonts.googleapis.com/css?family=Inter' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css2?family=Manrope' rel='stylesheet'/>
    <link rel="icon" type="image/x-icon" href="https://upload.wikimedia.org/wikipedia/commons/a/ab/Apple-logo.png">
    <style>
        .noselect {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

.inter{
    font-family: 'Inter';font-size: 14px;
}
    </style>
</head>
<body>
    <!--<div class="header">
        <div class="headerpart inter">
            <p class="noselect">Choose any country to see content specific to your location</p>
            <select class="box inter">
                <option value="India">India</option>
                <option value="else"><p class="noselect">Select a country or region</p></option>
            </select>
            <button class="box noselect inter" type="button" name="Continue"><b>Continue</b></button>
        </div>
        <div class="sub-header inter">
            <p class="noselect" id="op1" onclick="clickfunc1()"><b>Apple TV+</b></p>
            <p class="noselect" id="op2" onclick="clickfunc2()"><b>MLS Season Pass</b></p>
            <input class="box2 noselect inter" type="text" placeholder="Search"/>
            <button class="box2 noselect inter" type="button" >Sign in</button>
        </div>
    </div>-->

    <div class="header inter">
        <div class="headerpart noselect">
            <p id="op3"><strong style="font-size: 150%; background-color: #484444; color: white;margin-left: -510px;">X</strong></p>
            <p style="margin-left: -15px;">Choose any country to see content specific to your location</p>
            <select class="box inter" style="margin-left: -12px; width: 260px; height: 35px;">
                <option value="India">India</option>
                <option value="else">Select a country or region</option>
            </select>
            <button class="box inter" type="button" name="Continue" style="margin-left: 20px; height: 35px;"><strong>Continue</strong></button>
        </div>
        <div class="sub-header noselect">
            <p id="op1" ><a href="{% url 'AppleTV' %}" style="text-decoration: none; color: white; font-size: 15.5px;" class="inter"><strong>Apple TV+</strong></a></p>
            <p id="op2" ><a href="{% url 'MLS' %}" style="text-decoration: none; color: gray; font-size: 15.5px;" class="inter"><strong>MLS Season Pass</strong></a></p>
            <input class="box2 inter noselect" type="text" style="height: 30px;" placeholder="Search"/>
            <button class="box2 inter noselect" type="button" style="height: 30px;">Sign in</button>
        </div>
    </div>

    <div class="main">
        <div class="scroll">
            <a href="" style="margin-left: -3%;"><strong class="noselect inter" style="font-size: medium;"><b>Latest Originals</b></strong></a>
            <div class="contents noselect">
                <img src="https://is3-ssl.mzstatic.com/image/thumb/JJo1Kp84yVQ1emwipSnq2A/738x416.webp" width="265px"
                    height="150px" onclick="refer('')" />
                <img src="https://is1-ssl.mzstatic.com/image/thumb/QZB0J5JE-kQfPl48Z4SIfw/738x416.webp" width="265px" height="150px" onclick="refer('')" />
                <img src="https://is3-ssl.mzstatic.com/image/thumb/CvNCk6LFQGbwX_XWcd7gag/738x416.webp" width="265px" height="150px" onclick="refer('')" />
                <img src="https://is2-ssl.mzstatic.com/image/thumb/divxDY27bQOH7PPRX2wfJQ/738x416.webp" width="265px" height="150px" onclick="refer('')" />
                <img src="https://is2-ssl.mzstatic.com/image/thumb/divxDY27bQOH7PPRX2wfJQ/738x416.webp" width="265px"
                    height="150px" onclick="refer('')" />
                <img src="https://is2-ssl.mzstatic.com/image/thumb/IhM297t5x6MNs-i8sRqCaA/738x416.webp" width="265px" height="150px" onclick="refer('')" />
                <img src="https://is1-ssl.mzstatic.com/image/thumb/smt-xPaYOgP20SOXDNX-Fw/738x416.webp" width="265px" height="150px" onclick="refer('')" />
                <img src="https://is3-ssl.mzstatic.com/image/thumb/08RCyCOvu05COuc-qdDudQ/738x416.webp" width="265px" height="150px" onclick="refer('')" />
                <img src="https://is4-ssl.mzstatic.com/image/thumb/FD88LUVRFAmJglUOaFigGQ/738x416.webp" width="265px"
                    height="150px" onclick="refer('')" />
                <img src="https://is2-ssl.mzstatic.com/image/thumb/JdmLVQN99mIa15_uECg4uw/738x416.webp" width="265px" height="150px" onclick="refer('')" />
                <img src="https://is1-ssl.mzstatic.com/image/thumb/qL-yBoKCFztx-kDyvIXlHw/670x377.webp" width="265px" height="150px" onclick="refer('')" />
                <img src="https://is5-ssl.mzstatic.com/image/thumb/Scb9NAojuKODtazXgV3X9Q/738x416.webp" width="265px" height="150px" onclick="refer('')" />
                <img src="https://is4-ssl.mzstatic.com/image/thumb/ZVQN14-mmBQ4xioUXnCZ2A/670x377.webp" width="265px"
                    height="150px" onclick="refer('')" />
                <img src="https://is4-ssl.mzstatic.com/image/thumb/l9pppxkOh2t9ys26kg5avQ/738x416.webp" width="265px" height="150px" onclick="refer('')" />
                <img src="https://is4-ssl.mzstatic.com/image/thumb/FD88LUVRFAmJglUOaFigGQ/670x377.webp" width="265px" height="150px" onclick="refer('')" />
                <img src="https://is3-ssl.mzstatic.com/image/thumb/Ze8uZ-TWJ2JMbqmtcz8_BA/738x416.webp" width="265px" height="150px" onclick="refer('')" />
                
                <p class="noselect inter" style="color: #ACACAC; font-size: x-small;">Copyright &#169; 2023 Apple Inc. All rights reserved.</p>
                <a href="https://www.apple.com/legal/internet-services/" class="noselect inter footerlink" style="font-size: x-small;">Internet Service Terms</a>
                <a href="https://www.apple.com/legal/privacy/data/en/apple-tv-app/" class="noselect inter footerlink" style="font-size: x-small;">Apple TV & Privacy</a>
                <a href="https://www.apple.com/privacy/use-of-cookies/" class="noselect inter footerlink" style="font-size: x-small;">Cookie Policy</a>
                <a href="https://support.apple.com/tv" class="noselect inter footerlink" style="font-size: x-small;">Support</a>
                <a href="" class="noselect inter footerlink" style="font-size: x-small; margin-left: 840px;">United States</a>
                <a href="" class="noselect inter footerlink" style="font-size: x-small; margin-left: -50px; color: slategray;">Espanol</a>
            </div>
            </br>
            </div>
        </div>
    </div>
    <script src="first_page.js"></script>
</body>
</html>