
{% extends 'base.html' %}

{% block content %}
<center style="color: white;">

<br/>
<a href="{%url 'insert'%}">Sign in</a> &nbsp;
<a href="{%url 'insert2'%}">Sign up</a>
<br/><br/>
<table border="0" style=" color:white ; background-color: black; width: 50%; font-size: 20px; margin-left: 10%;">
    <thead>
        <tr>
            <td>ID</td>
            <td>Username</td>
            <td>Action</td>
        </tr>
    </thead>
    <tbody>
        {%for s in stu%}
        <tr>
            <td>{{s.id}}</td>
            <td>{{s.Aid}}</td>  <!--change to s.Aid--> 
            <td><a href="update/{{s.id}}">Edit</a>&nbsp; |&nbsp;
            <a href="delete/{{s.id}}">Delete</a>
            </td>
        </tr>
        {%endfor%}
    </tbody>
</table>
</center>
{%endblock%}